<html>
    <head>
        <title>
            chat bot
        </title>
        <link rel="stylesheet" href="http://127.0.0.1:5000/static/styles.css">
    </head>
</html>
<body>
    <div class="chat-container">
        <div class="chat-display">
            <p class="bot-message">Welcome to  AAMEC chatbot</p>
            
            <p class="bot-reply">{{res}}</p>
        </div>

        <div>
            <form action="/bot" method="post" >
                <input type="text" class="user-input"id="you" name="you" placeholder="Enter Your Question" class="input-box"><br><br>
                <div class="button-container">
                <input type="submit" value="submit" class="submit-button"></div>
            </form>
        </div>

    </div>
    
   
   
</body>

  